@use "../setting/utility" as *;
@use "../functions/functions" as mx;
@use "../base/text";

.address-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: mx.autoClamp(16, 20);
  background-color: $color-bg-lightblue;
  border-radius: 5px;
  color: $color-theme;

  &__title {
    font-size: mx.autoClamp(18, 30);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.2em;
  }

  &__address {
    display: block;
    margin-block: mx.autoClamp(10, 20) 0;
    font-size: mx.autoClamp(15, 20);
    line-height: 1.5;
    letter-spacing: 0.2em;
  }
}
