@use "../setting/utility" as *;
@use "../functions/functions" as mx;

.breadcrumbs {
  &__inner {
    font-size: 10px;
    > span {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      gap: .5rem;
    }
  }
  a {
    text-decoration: none;
    color: $color-text;
  }
}
