@charset "UTF-8";
@use "../setting/utility" as *;
@use "../functions/functions" as mx;

.footer {
  background-color: $color-theme;
  color: white;

  &__inner {
    width: 100%;
    margin-inline: auto;
    padding-block: 50px;
    padding-inline: mx.autoClamp(28, 50);
    @include mx.mq(lg-up) {
      display: grid;
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: mx.autoClamp(6, 16);
    padding-block: 14px;
    @include mx.mq(lg-up) {
      grid-area: 1 / 1 / 3 / 2;
    }
  }
  &__logo-text {
    font-size: mx.autoClampSp(20, 20, 35);
    font-weight: 700;
    color: white;
    line-height: 1.2;
  }
  &__logo-img {
    flex-shrink: 0;
    width: mx.autoClamp(22, 64);
    height: auto;
  }

  &__nav {
    margin-top: 40px;
    @include mx.mq(lg-up) {
      grid-area: 1 / 2 / 2 / 3;
      margin-top: 0;
    }
  }
  &__nav-ul {
    display: flex;
    flex-direction: column;
    gap: 20px 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
      color: white;
      font-size: mx.autoClamp(16, 18);
      line-height: 1;
    }

    @include mx.mq(sm-up) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__copy {
    margin-top: 50px;
    text-align: center;
    margin-inline: calc(-1 * #{mx.autoClamp(28, 50)});
    @include mx.mq(lg-up) {
      grid-area: 2 / 2 / 3 / 3;
      margin-top: 32px;
    }
  }

  &__copy-text {
    font-size: 14px;
    line-height: 1;
  }
}
