@use "../setting/utility" as *;
@use "../functions/functions" as mx;

@keyframes blink-3 {
  0%,
  100% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
.fv {
  position: relative;
  background-image: url(../assets/fv-bg-sp.jpg),
    linear-gradient(to bottom, $color-bg-lightblue 50%, white 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center top;
  background-size: contain;

  @include mx.mq(xl-up) {
    background: none;
  }

  @include mx.mq(mx-up) {
    margin-bottom: mx.autoClampSp(70, 70, 110);
  }

  &__pc-helper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__object {
    position: absolute;
    top: 110px;
    right: 0;
    width: mx.autoClampSp(153, 300, 300);
    height: auto;

    @include mx.mq(md-up) {
      top: 160px;
      width: mx.autoClampSp(250, 300, 600);
    }
    @include mx.mq(xl-up) {
      top: 0;
      width: 100%;
    }
  }
  &__inner {
    position: relative;
    padding-inline: mx.autoClampSp(16, 30, 50);
    padding-block: mx.autoClampSp(62, 90, 120) 34px;
  }
  &__badge {
    transform: rotate(-14deg);
    width: mx.autoClampSp(88, 150, 220);
    @include mx.mq(xl-up) {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(calc(-14deg - 11deg)) translateX(-25%) translateY(-60%);
    }
  }
  &__text-t {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 30px;
    @include mx.mq(lg-up) {
      width: fit-content;
      margin-inline: auto;
      justify-content: center;
      grid-template-columns: auto auto;
    }
    @include mx.mq(xl-up) {
      position: relative;
      z-index: 2;
    }
    &__line1 {
      grid-area: 1 / 1 / 2 / 2;
      align-self: center;
      font-size: mx.autoClampSp(15, 28, 53);
      font-weight: 900;
      line-height: 1;
      color: white;
      @include mx.text-outline($color-theme, mx.autoClampSp(2, 3, 5));
      filter: drop-shadow(
        0 mx.autoClampSp(2, 3, 5) mx.autoClampSp(2, 3, 5) rgba(black, 0.6)
      );
      @include mx.mq(xl-up) {
        text-align: right;
      }
    }
    &__line2 {
      grid-area: 2 / 1 / 3 / 3;
      font-size: mx.autoClampSp(21, 42, 52);
      font-weight: 900;
      line-height: 1;
      color: white;
      @include mx.text-outline($color-theme, mx.autoClampSp(3, 5, 8));
      .--emphasis {
        color: $color-accent;
      }
      @include mx.mq(lg-up) {
        justify-self: center;
        font-size: mx.autoClampSp(42, 42, 80);
      }
      @include mx.mq(lg-up) {
        position: relative;
      }
    }
    &__badge {
      grid-area: 1 / 2 / 2 / 3;
      justify-self: start;
      display: grid;
      place-items: center;
      width: mx.autoClampSp(46, 68, 100);
      height: mx.autoClampSp(46, 68, 100);
      background-color: $color-theme;
      border-radius: 50%;
      font-size: mx.autoClampSp(15, 20, 28);
      font-weight: 900;
      line-height: 1;
      color: $color-accent;
    }
  }
  &__text-b {
    position: relative;
    z-index: 2;
    margin-top: mx.autoClampSp(17, 35, 70);
    @include mx.mq(xl-up) {
      text-align: center;
    }
    &__text {
      font-size: mx.autoClampSp(40, 80, 120);
      font-weight: 900;
      line-height: 1.2;
      color: $color-theme;
      @include mx.text-outline(white, mx.autoClampSp(4, 7, 10));
      filter: drop-shadow(
        0 mx.autoClampSp(4, 7, 10) mx.autoClampSp(4, 7, 10) rgba(black, 0.6)
      );
      @include mx.mq(lg-up) {
        display: block;
        text-align: center;
      }

      @include mx.mq(xl-up) {
        display: inline;
        font-size: mx.autoClampSp(40, 60, 120);
      }
    }
    .--has-map {
      position: relative;
      width: fit-content;
      @include mx.mq(lg-up) {
        margin-inline: auto;
      }
    }
    &__map {
      position: absolute;
      top: -0.2em;
      right: -0.75em;
      z-index: -1;
      width: auto;
      height: mx.autoClampSp(48, 96, 120);
      @include mx.mq(xl-up) {
        height: mx.autoClampSp(48, 128, 285);
        top: -0.25em;
        right: auto;
        left: -1em;
      }
    }
  }
  &__btns {
    display: flex;
    flex-direction: column;
    gap: mx.autoClampSp(17, 22, 30);
    width: fit-content;
    margin-inline: auto;
    margin-top: mx.autoClampSp(57, 90, 190);

    @include mx.mq(lg-up) {
      flex-direction: row;
    }
  }
  &__btn {
    display: grid;
    place-items: center;
    width: mx.autoClampSp(268, 320, 400);
    height: mx.autoClampSp(53, 64, 80);
    border-radius: 5em;
    text-decoration: none;
    box-shadow: 0 mx.autoClampSp(3, 4, 4) mx.autoClampSp(3, 4, 4)
      rgba(black, 0.7);
    &.--tel {
      position: relative;
      background: linear-gradient(180deg, $color-accent, #ffc800);
      font-size: mx.autoClampSp(27, 32, 40);
      color: $color-theme;
      svg {
        width: mx.autoClampSp(21, 28, 38);
      }
      path {
        fill: $color-theme;
      }
      &::before {
        content: attr(before);
        animation: blink-3 1s 1s ease-in-out forwards;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-100% - #{mx.autoClampSp(7, 14, 20)}));
        font-size: mx.autoClampSp(15, 20, 27);
        font-weight: 700;
        line-height: 1;
      }
    }
    &.--line {
      background-color: $color-green;
      font-size: mx.autoClampSp(24, 28, 33);
      color: white;
      letter-spacing: -0.05em;
      svg {
        width: mx.autoClampSp(36, 40, 45);
      }
    }
  }
  &__btn-text {
    display: flex;
    align-items: center;
    gap: mx.autoClampSp(6, 8, 10);
    line-height: 1;
    font-weight: 900;
  }
  &__features {
    display: flex;
    justify-content: center;
    gap: 25px 15px;
    margin-top: mx.autoClampSp(22, 40, 40);
    @include mx.mq(mx-up) {
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 3dvw;
      margin-top: 0;
    }
  }
  &__feature {
    width: auto;
    height: mx.autoClampSp(105, 150, 257);
    @include mx.mq(mx-up) {
      height: mx.autoClampSp(90, 90, 257);
    }
  }
}
