@charset "UTF-8";
@use "../setting/utility" as *;
@use "../functions/functions" as mx;

.--nav-on { // ナビ表示中はbodyのスクロールを禁止
  overflow: hidden;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px 40px;

  &__btn {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: white;
    border: 0;
    cursor: pointer;
    &-burger {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5.5px;
      span {
        position: relative;
        display: block;
        width: 24px;
        height: 3px;
        border-radius: 2px;
        background-color: $color-theme;
        transition: transform .3s linear;
        .--nav-on & {
          &:first-child {
            top: 4.25px;
            transform: rotate(45deg);
          }
          &:last-child {
            top: -4.25px;
            transform: rotate(-45deg);
          }
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
    @include mx.mq($hide-nav-width) {
      display: none;
    }
  }

  @include mx.mq($show-nav-width) {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    transform: translateY(-100%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 216px;
    padding: 40px;
    background-color: rgba(white, .9);
    border-bottom-left-radius: 30px;
    transition:
      transform .5s ease-in-out,
      opacity .5s .25s ease-in-out;
    ;
    .--nav-on & {
      transform: translateY(100%);
      opacity: 1;
    }
    &__list {
      flex-direction: column;
      row-gap: 30px;
      align-items: center;
    }
  }
}