@use "../setting/utility" as *;
@use "../functions/functions" as mx;

@use "../../node_modules/@splidejs/splide/dist/css/splide.min.css";


.splide {
  &__slide {
    max-width: 100%;
  }
  &__pagination {
    position: relative;
    margin-top: mx.autoClamp(10, 15);
    column-gap: 12px;
    &__page {
      background-color: rgba(#231815, .5);
      &.is-active {
        background-color: rgba(#231815, 1);
      }
    }
  }
  &__arrow {
    width: 2rem;
    height: 2rem;
    background-color: white;
    box-shadow: 0 4px 4px rgba(#000, .25);
    opacity: 1;
    &--prev {
      transform: translateY(-100%) translateX(-30%);
      i {
        transform: rotate(180deg);
      }
    }
    &--next {
      transform: translateY(-100%) translateX(30%);
    }
  }
}
