@use "../setting/utility" as *;
@use "../functions/functions" as mx;

table {
  border-spacing: 0;
}

.table,
.table-sp {
  width: 100%;
  border-top: 1px dotted $color-text;
  th,
  td {
    vertical-align: wrap;
    padding: 15px 9px;
    border-bottom: 1px dotted $color-text;
  }
  th {
    width: 0;
    padding-right: 21px;
    white-space: nowrap;
    text-align: left;
    font-size: mx.autoClamp(13, 16);
    font-weight: 400;
  }
  td {
    font-size: mx.autoClamp(14, 16);
  }
}

.table-scroll {
  &__wrap{
    overflow: auto;
    white-space: nowrap;
    margin: 1em 0;
  }
  &::-webkit-scrollbar{
    height: 5px;
  }
  &::-webkit-scrollbar-track{
    background: #F1F1F1;
  }
  &::-webkit-scrollbar-thumb{
    background: #BCBCBC;
  }
}
