@use "../setting/utility" as *;
@use "../functions/functions" as mx;

.trouble-item {
  &__title {
    padding: mx.autoClampSp(12, 12, 25);
    background-color: $color-theme;
    color: white;
    font-size: mx.autoClampSp(34, 34, 50);
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }

  &__figure {
    aspect-ratio: 330 / 230;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__price {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: mx.autoClampSp(10, 10, 15);
    margin-top: calc(-1 * #{mx.autoClampSp(100, 100, 135)});
  }

  &__price-badge {
    width: mx.autoClampSp(77, 77, 135);
    height: auto;
    flex-shrink: 0;
  }

  &__price-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: mx.autoClampSp(4, 4, 5);

    &__tax {
      font-family: $font-web;
      font-size: mx.autoClampSp(16, 16, 30);
      font-weight: 400;
      color: $color-red;
      line-height: 1;
      @include mx.text-outline(white, mx.autoClampSp(3, 3, 6));
    }

    &__price {
      font-family: $font-web;
      font-size: mx.autoClampSp(45, 45, 80);
      font-weight: 700;
      color: $color-red;
      line-height: 1;
      @include mx.text-outline(white, mx.autoClampSp(5, 5, 10));
    }
  }

  &__description {
    position: relative;
    margin-top: calc(-1 * #{mx.autoClampSp(12, 12, 18)});
    margin-inline: mx.autoClampSp(17, 17, 26);
    padding-block: mx.autoClampSp(20, 20, 40);
    padding-inline: mx.autoClampSp(20, 20, 40) mx.autoClampSp(20, 20, 30);
    border-radius: mx.autoClampSp(10, 10, 20);
    border: mx.autoClampSp(1.5, 1.5, 3) solid $color-gray-dark;
    background-color: white;
    font-feature-settings: "palt";
  }

  &__description-list {
    margin: 0;
    padding-left: 1.5em;

    li {
      font-family: $font-web;
      font-size: mx.autoClampSp(14, 17, 20);
      font-weight: 400;
      color: $color-gray-dark;
      line-height: 1.8;
    }
  }
}
