@use "../setting/utility" as *;
@use "../functions/functions" as mx;
@use "../base/space";

html,
body {
  margin: 0;
  padding: 0;
}

html{
  font-size: 16px;
}

body{
  font-size: 15px;
  font-family: $font-web;
  font-weight: 400;
  line-height: normal;
  color: $color-text;
  background-color: $color-base;
  &.--on {
    overflow: hidden;
  }
}

a{
  color: $color-text;
  text-decoration: underline;
  @media screen and (min-width: $animation-width) {
    transition: .3s linear color;
    &:hover{
      color: $color-theme;
    }
    img {
      transition: .3s linear opacity;
      &:hover {
        opacity: .5;
      }
    }
  }
}

p {
  margin-top: 1em;
  &:first-child {
    margin-top: 0;
  }
}

img,
svg {
  vertical-align: bottom;
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

b {
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}


