@use "../setting/utility" as *;
@use "../functions/functions" as mx;
@use "../base/space";

$inner_padding: mx.autoClamp($inner_padding_sp, $inner_padding_pc);

.inner {
  width: calc($inner + (#{$inner_padding} * 2));
  max-width: 100%;
  margin-inline: auto;
  padding-inline: $inner_padding;

  &.--wide {
    width: calc($inner_wide + (#{$inner_padding} * 2));
  }
  &.--narrow {
    width: calc($inner_narrow + (#{$inner_padding} * 2));
  }
}
