@use "../setting/utility" as *;

/* -------------------------------------------------------------------
  text, font
------------------------------------------------------------------- */

.fw {
  &-b {
    font-weight: 700;
  }
  &-m {
    font-weight: 500;
  }
  &-l {
    font-weight: 400;
  }
}

.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}
